---
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="text-info">Submission Instructions:</div>

        <p>We solicit three types of paper submission:</p>

        <p>
            <strong class="text-capitalize">Technical Papers:</strong>
            up to 6 pages (including everything except references), reporting on
            novel research, to be presented at the workshop as an oral presentation;
        </p>
        <p>
            <strong class="text-capitalize">Short Papers:</strong>
            up to 3 pages (including everything), reporting on new research
            directions and/or a controversial debate of past research, to be presented at the
            workshop as a short pitch with interactive discussion;
        </p>
        <p>
            <strong class="text-capitalize">Poster Papers:</strong>
            up to 2 pages (including everything), to be presented at the workshop as a poster.
        </p>

        <p>
            Papers should use the <strong class="text-danger">standard ACM Template</strong>, available at
            <a href="http://www.acm.org/sigs/publications/proceedings-templates">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> ACM Article Template
            </a>.
        </p>


        <p>To submit your paper, please follow below link to the submission site:</p>

        <p class="text-center">
            <a href="https://easychair.org/conferences/?conf=hotweb2017">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <strong> Paper Submission Site </strong>
            </a>
        </p>

<!--        <p>Note that at least one of the authors of each paper accepted for presentation in HotWeb 2017 must be-->
<!--            registered.-->
<!--            All papers presented at the workshop will be included in the ACM Digital Library.</p>-->

        <div class="text-info">Camera-Ready Instructions:</div>
        <p>You will receive the information via your email for camera-ready instructions.

            <!-- 
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                <a class="button"
                    href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Nov&ERoom=HotWeb+2015"><span>Camera-ready
                    Author Kit</span></a></p>

                <p>If you encounter any problem, please contact our editor, Lisa
                    O'Conner, for assistance.</p> 
                    
                    <p>Please note your final camera-ready is due to IEEE by
                    <b>September 25, 2015.</b> 
                -->

        </p>


        {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>